crashlog/tests/.tmp.out
crashlog/tests/bin/*
crashlog/tests/obj/*
*~
libintelconfig/doc/html
libintelconfig/out
libintelconfig/obj
libintelconfig/gen
.*.swp
libintelconfig/.cproject
libintelconfig/.project
libintelconfig/.settings
log-watch/out
log-watch/obj
log-watch/obj-tests
log-watch/.cproject
log-watch/.project
log-watch/.settings
