"attr":{
	"bcdDC": 0x100,
	# DIC
	"bTSorDIC": 0,
	"bmSupportedEvents": 0,
	"bmControl":[0xff, 0x3f, ],
	# To be defined
	"hGlobalID" : [0, 0, ],
},

# SW-Source Debug unit
"unit":{
	"bcdDC": 0x100,
	"bUnitID": 0x3,
	"bDebugUnitType": 0x4,
	"bDebugSubUnitType": 0x42,
	"bAliasUnitID": 0,
	"dTraceFormat":[0, ],
	"dStreamID": [0x2ff0100, ],
	"bmControl":[0xff, 0x3f, ],
	"iDebugUnitType" : "SW-Source Unit",
},
# Output connection
"out":{
	"bConnectionID": 0,
	"bConnectionType": 0x3,
	"bAssocConnection": 0,
	"wSourceID": 0,
	"iConnection": "Pti",
},
